@import "/home/emperor/.cache/wal/colors-waybar.css";

* {
    font-family: 'Radio Canada Big',"JetBrainsMono Nerd Font", "FiraCode Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 19px;
}

window#waybar {
    background-color: transparent;
    color: @background;
    margin: 8px;
}
#workspaces button {
    transition: all 0.25s ease;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#workspaces button:hover {
    background-color: #74c7ec;
}

#workspaces button.active {
    color: @foreground;
    background-color: @color4;
}


#workspaces {
    background-color: rgba(20, 20, 20, 0.8);
    padding: 0 0 0 0;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;   
}

#battery {
  background-color: @background;
  border-radius: 20px;
  color: @color2;
  margin: 0 0px 0 0px;
  padding: 6px 15px 6px 15px;
}

#pulseaudio,
#backlight,
#network {
    color: @color2; /* color2 */
    background-color: @background; /* background */
    margin: 0 0px 0 0px;
    padding: 0 7px 0 7px; /* top, right, bottom, left */
}

#clock {
    color: @color3; /* color3 */
    background-color: @background; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#network {
    color: @color4; /* color4 */
}

#pulseaudio {
    color: @color5; /* color5 */
      padding: 6px 13px 6px 12px;
}

#custom-media {
    color: @color4; /* color2 */
    background-color: rgba(20, 20, 20, 0.8);
    margin: 0 0px 0 15px;
    padding: 6px 15px 6px 15px; /* top, right, bottom, left */
}

#pulseaudio-slider {
  margin: 4px 5px;
  padding: 0 2px;
  background-color: transparent;
  border-radius: 20px;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @outline_variant;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: @secondary_fixed_dim;
}

#pulseaudio-slider slider {
  min-height: 12px;
  min-width: 12px;
  margin: -2px 0;
  border-radius: 100%;
  background-color: @primary;
}

#distro-group {

  background-color: @background;
  border-radius: 20px;
  color: @color3;
}

#custom-distro {
  color: @primary;
  padding: 6px 15px 6px 10px;
}

#custom-terminal {
  color: #a6e3a1;
  padding: 0px 10px;
}

#custom-code {
  color: #89b4fa;
  padding: 0px 10px;
}


#custom-spotify {
  color: #1db954;
  padding: 0px 10px;
}

#power-profiles-daemon,
#idle_inhibitor{
  padding: 6px 15px 6px 10px;
  background-color: rgba(20, 20, 20, 0.8);
  border-radius: 20px;
  color: @color4;
}

#custom-swaync {
  padding: 6px 15px 6px 10px;
  background-color: @background;
  border-radius: 20px;
  color: @color4;
}